#img-div{
    width: 300x;
    margin: auto;
  }
#image{
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
#img-caption{
    font-size: 14px;
}
#tribute-info{
    font-size: 20px;
}
h1{
    text-align: center;
    color: #2E151B
}
body{
    background-color: #FFCB9A;
  
}