#img-div{
    width: 300px;
    margin: auto;
  }
#image{
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
#img-caption{
    font-size: 10px;
}
#tribute-info{
    font-size: 20px;
    text-align: left;
}
body{
    background-color: #FFCB9A;
    text-align: center;
    font-family: fantasy;
}
h1{
    font-size: 50px;
    font-family: 'Brush Script MT', cursive;
    color: #2E151B
}